@import url('https://fonts.googleapis.com/css?family=Montserrat:700');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  width: 950px;
  margin: 0 auto;
}

header {
  margin: 62px 0 67px;
}

header h1 {
  width: 208px;
  margin: 0 auto;
}
.section-title {
  margin: 0 auto 50px;
  text-align: center;
}


/* =======================
navigation
======================= */
.navigation {
  margin-bottom: 37px;
  overflow: hidden;
}

.navigation li{
  width: 160px;
  float: left;
}

.navigation li:last-child {
  width: 150px;

}

.navigation li a {
   /*margin-left: 10px;*/
   color:#000;
   text-decoration: none;
   font-size: 12px;
   display: block;
   padding-bottom: 12px;
   background:url(../img/bg_navi.png) no-repeat left bottom;
}

/* =======================
hero
======================= */
.hero {
  position: relative;
  margin: 0 0 100px;
}

.hero .mapicon {
  position: absolute;
  top:30px;
  right:30px;
}

/* =======================
.news-area
======================= */

.news-area {
  margin: 0 0 100px;
}

.news-area ul {
  width: 630px;
  margin: 0 auto;
  list-style: none;
}

.news-area ul li {
  border-bottom:1px solid #ccc;
  margin: 0 0 16px;
  padding: 0 0 13px;
  overflow: hidden;
}

.news-area ul li:last-child {
  border: none;
}

.news-area ul li time {
  display: block;
  width: 92px;
  float: left;
}

.news-area ul li a {
  color: #0096cf;
  display: block;
  width: 510px;
  float: right;
}

/* =======================
.concept-area
======================= */
.concept-area {
  margin-bottom: 100px;
  overflow: hidden;
}

.concept-box-left {
  float: left;
}

.concept-box-right {
  float: right;
  width: 590px;
  margin: -8px 0 24px;
}

.concept-box-right h3 {
  font-size: 26px;
  line-height: 1.6;
}

/* =======================
.photo-area
======================= */
.photo-area {
  margin: 0 0 100px;
}

.photo-list {
  padding: 0 20px;
}

.photo-list li {
  float: left;
  width: 270px;
  margin: 0 0 40px;
}

.photo-list li:nth-child(3n+2) {
  margin: 0 50px 40px;
}

.photo-list li img {
  width: 100%;
  vertical-align: bottom;
}

.photo-list li a {
  display: block;
  color: #fff;
  text-decoration: none;
}

.photo-list li a:hover {
  text-decoration: underline;
}

/* hover した時に説明文字がでる　*/
.photo-list li a:hover figcaption {
  bottom:0;
}

.photo-list li figure {
  border-radius: 10px;
  position: relative;
  overflow: hidden;

}

.photo-list li figcaption {
  width: 100%;
  font-size: 14px;
  line-height: 1.6;
  text-align: center;
  background: rgba(0,0,0,0.7);
  position: absolute;
  left: 0;
  bottom: -75px;
  transition: 1s ease;
}


.photo-list figure {
  margin: 0;
}

/* =======================
responsive
======================= */
@media (max-width:767px) {
  img {
    width: 100%;
  }
  #wrapper {
    width: 100%;
    padding:0 5%;
  }

  .navigation {
    opacity: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255,255,255,.95);
    margin: 0;
    padding: 90px 5% 0;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity .25s;
    z-index: -1;
  }
  .navigation.active {
    opacity: 1;
    z-index: 1;
  }
  .navigation li,
  .navigation li:last-child {
    width: 100%;
  }
  .navigation li a {
    font-size: 16px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    background: none;
    padding-top: 12px;
  }

  .mapicon {
    display: none;
  }

  /*----- news-area ----- */

  .news-area ul {
    width: 100%;
  }

  .news-area ul li time {
    width: 100%;
  }
  .news-area ul li a {
    width: 100%;
  }

  /*----- concept-area ----- */

  .concept-box-left,
  .concept-box-right {
    float: none;
    width: 100%;
  }

  .concept-box-left {
    text-align: center;
  }

  .concept-box-right {
    text-align: center;
    margin-top: 30px;
  }

  /*----- photo-area ----- */

  .photo-list li {
    width: 100%;
  }

  .photo-list li:nth-child(3n+2) {
    margin: 0 0 40px;
  }
}
