@import url('https://fonts.googleapis.com/css?family=Montserrat:700');

html {
  font-size: 10px;
}
body {
  font-size: 1.4rem;
  font-family: sans-serif;
}

a {
  color: #333;
  text-decoration: none;
  transition: color .5s ease;
}
a:hover {
  color: #0099cc;
}

@media (min-width:767px) {
  .wrapper {
    width: 950px;
    margin: 0 auto;
  }
}

/* ===============================
共通
=============================== */
.main-area {
  margin: 0 5%;
}
.section-title {
  font-size: 1.6rem;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .1rem;
  margin: 0 auto 50px;
}
.section-area {
  margin-bottom: 80px;
}

@media (min-width:767px) {
  .main-area {
    margin: 0;
  }
  .section-area {
    margin-bottom: 100px;
  }
}

/* ===============================
ヘッダー
=============================== */
.header {
  text-align: center;
  padding: 80px 0 40px;
}
@media (min-width:767px) {
  .header {
    padding: 60px 0;
  }
}

/* ===============================
ナビゲーション 
=============================== */
.hamburger {
  position: fixed;
  top: 20px;
  left: 5%;
  z-index: 2;
  width: 34px;
  height: 34px;
}
.navigation {
  opacity: 0;
  background: rgba(255,255,255,.95);
  margin: 0;
  padding: 90px 5% 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: opacity .25s ease;
  z-index: -1;
}
.navigation.active {
  opacity: 1;
  z-index: 1;
}
.navigation-item {
  border-bottom: 1px solid #ccc;
}
.navigation-item:first-child {
  border-top: 1px solid #ccc;
}
.navigation-item a {
  display: block;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  padding: 30px 0;
}

@media (min-width:767px) {
  .hamburger {
    display: none;
  }
  .navigation {
    opacity: 1;
    position: static;
    background-color: transparent;
    padding: 0;
  }
  .navigation-list {
    display: flex;
  }
  .navigation-item {
    width: 160px; /* flexで横幅調整される -> 158.33px */
    padding-bottom: 10px;
    margin-bottom: 36px;
    border-bottom: none;
    background: url(../images/bg_navi.png) no-repeat bottom left;
  }
  .navigation-item:first-child {
    border-top: none;
  }
  .navigation-item a {
    text-align: left;
    padding: 0;
  }
}


/* ===============================
ヒーロー 
=============================== */
.hero {
  position: relative;
  margin-bottom: 80px;
}
.hero .mapicon {
  display: block;
  position: absolute;
  top: 8px;
  right: 8px;
}
@media (min-width:767px) {
  .hero {
    margin-bottom: 100px;
  }
  .hero .mapicon {
    top: 30px;
    right: 30px;
  }
}


/* ===============================
ニュース 
=============================== */
.news-item {
  display: flex;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #CCC;  
}
.news-item:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}
.news-item time {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .1rem;
  width: 120px;
  flex-shrink: 0;
}
.news-item a {
  color: #0099cc;
}

@media (min-width:767px) {
  .news-list {
    width: 630px;
    margin: 0 auto;
  }
  .news-item {
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  .news-item a {
    text-decoration: underline;
  }
}

/* ===============================
コンセプト 
=============================== */
.concept-image {
  text-align: center;
  margin-bottom: 40px;
}
.concept-title {
  text-align: center;
  font-size: 2.6rem;
  font-weight: 600;
  margin-bottom: 26px;
}
.concept-text {
  line-height: 2;
  letter-spacing: .05rem;
  margin-bottom: 10px;
}

@media (min-width:767px) {
  .concept-wrapper {
    display: flex;
  }
  .concept-image {
    flex-shrink: 0;
    margin-right: 50px;
  }
  .concept-image {
    margin-bottom: 0;
  }
  .concept-title {
    text-align: left;
  }
}

/* ===============================
PHOTO 
=============================== */
.photo-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.photo-item {
  width: 45%;
  margin-bottom: 20px;
}
.photo-item a img{
  display: block;
  margin: 0 auto 10px;
  border-radius: 10px;
  transition: all .2s ease;
}
.photo-desc {
  text-align: center;
}

@media (min-width:767px) {
  .photo-item {
    width: 270px;
    /* margin-right: 70px; */
    margin-bottom: 40px;
  }
  /* .photo-item:nth-child(3n) {
    margin-right: 0;
  } */
  .photo-item a:hover img {
    opacity: .8;
    transform: translateY(-5px);
    box-shadow: 0 3px 16px rgba(0, 0, 0, .6);
  }
}
/* ===============================
FOOTER 
=============================== */
.footer {
  text-align: center;
  margin: 0 0 15px;
}
.copyright {
  display: block;
  font-size: 1.4rem;
  text-transform: uppercase;
}
@media screen and (min-width:768px) {
  .footer {
    margin: 0 0 20px;
  }
}